site_name: Namastack Outbox for Spring Boot
site_url: https://outbox.namastack.io
theme:
  name: material
  logo: assets/namastack_logo.svg
  favicon: assets/namastack_logo.svg
  custom_dir: overrides
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: blue grey
      accent: yellow
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      accent: yellow
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      accent: yellow
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.path
    - toc.follow
    - toc.integrate

nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - Features: features.md

copyright: >
  Copyright &copy; 2025 namastack.io -
  <a href="#__consent">Change cookie settings</a>

plugins:
  - search
  - macros

extra:
  outbox_version: 0.3.0
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/namastack/namastack-outbox
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/roland-beisel/
  analytics:
    provider: google
    property: G-ZJ7CRV12C3
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
docs_dir: docs
